<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/respond.min.js"></script>
<script type="text/javascript" src="js/PIE_IE678.js"></script>
<![endif]-->
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/css/H-ui.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/css/H-ui.admin.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/font/font-awesome.min.css"/>
<!--[if IE 7]>
<link href="font/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<title>公告管理</title>
</head>
<body>
<nav class="Hui-breadcrumb"> <i class="icon-home"></i>
  首页
  <span class="c-gray en">&gt;</span>
  常用操作
  <span class="c-gray en">&gt;</span>
  公告管理
  <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a>
</nav>
<div>
  <form id="form">
     <table class="table table-border table-bordered table-hover table-bg table-sort">
     
        <tr>
          <td style="margin:0 auto;padding:2px;">
            <input type="hidden" name="id" value="{$vo.id}" />
            <textarea  name="announcement" style="width:460px;height:140px;resize:none;text-indent:20px;" >{$vo.announcement}</textarea><!-- {$vo.announcement} -->
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:center;">
            <input class="btn btn-success radius  mr-20" type="button" id="announcementUpdate" value="修改" />

          </td>
        </tr>
        
      
    </table>
  </form>
</div>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/layer/layer.min.js"></script>
<!-- <script type="text/javascript" src="__PUBLIC__/admin/js/pagenav.cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/plugin/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.dataTables.min.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
<script type="text/javascript">
var index = parent.layer.getFrameIndex(window.name);
$('#announcementUpdate').click(function(){
  var id = $('input[name="id"]').val();
  var content = $('textarea[name="announcement"]').val();
  
  $.ajax({
    type:"POST",
    url:"__URL__/announcementUpdate",
    data:"id="+id+"&announcement="+content,
    success:function(msg){
      if(msg){
        parent.window.location.reload();
        parent.layer.close(index);
       }
    },
  });

});
</script>

</body>
</html>
