<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="js/html5.js"></script>
<script type="text/javascript" src="js/respond.min.js"></script>
<script type="text/javascript" src="js/PIE_IE678.js"></script>
<![endif]-->
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/css/H-ui.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/css/H-ui.admin.css"/>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/font/font-awesome.min.css"/>
<!--[if IE 7]>
<link href="font/font-awesome-ie7.min.css" rel="stylesheet" type="text/css" />
<![endif]-->
<title>用户管理_js代码</title>
<style>
	.f-14 span{
		cursor: pointer;
	}
</style>
</head>
<body>
<nav class="Hui-breadcrumb"><i class="icon-home"></i> 首页 <span class="c-gray en">&gt;</span> 用户中心 <span class="c-gray en">&gt;</span> 用户管理 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="icon-refresh"></i></a></nav>
<div class="pd-20">
<form action="__URL__/orderList" method='post'>
  <div class="text-c">
	<select name="status" id="" class="select">
	<option value="-1" <if condition="$status eq -1">selected</if>>全部</option>
	<option value="0" <if condition="$status eq 0">selected</if>>已下单</option>
	<option value="1" <if condition="$status eq 1">selected</if>>已支付</option>
	<option value="2" <if condition="$status eq 2">selected</if>>已接单</option>
	<option value="3" <if condition="$status eq 3">selected</if>>已拒单</option>
	<option value="4" <if condition="$status eq 4">selected</if>>派送中</option>
	<option value="5" <if condition="$status eq 5">selected</if>>已签收</option>
	<option value="6" <if condition="$status eq 6">selected</if>>已完成</option>
	<option value="7" <if condition="$status eq 7">selected</if>>已取消</option>
	<option value="8" <if condition="$status eq 8">selected</if>>货到付款</option>
	</select>

<!--    日期范围：
 <input type="text" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;">
 -
 <input type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;"> -->
    <input type="text" class="input-text" style="width:250px" placeholder="输入订单号、电话" id="" name="word" value="{$word}"><button type="submit" class="btn btn-success" id="" name=""><i class="icon-search"></i> 搜订单</button>
  </div>
  </form>
  <div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l">订单列表</span>
    <span class="r">共有数据：<strong>{:count($order)}</strong> 条</span>
  </div>
  <table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
      <tr class="text-c">
        <th style="25px;"><input type="checkbox" name="" value=""></th>
        <th width="30px" style="25px;padding: 0px;">订单号</th>
        <th width="30px" style="width:52px;">购买人</th>
        <th width="60px" style="width:340px">配送地址</th>
        <th width="50px">联系人电话</th>
        <th width="50px">总价</th>
        <th width="50px" style="width: 50px;">下单时间</th>
        <th width="130px" style="width:57px;">支付方式</th>
        <th width="70px">状态</th>
		<th width="100px" style="width: 170px;padding: 0px;">操作</th>
      </tr>
    </thead>
    <tbody>

	<volist name="order" id="vo">
      <tr class="text-c">
        <td><input type="checkbox" value="1" name=""></td>
        <td>{:strtoupper($vo['order_sn'])}</td>
       
        <td><u style="cursor:pointer" class="text-primary" onclick="user_show('10001','360','','张三','user-show.html')">{$vo.user.consignee}</u></td>
        <td>{$vo.user.area}{$vo.user.address}</td>
        <td>{$vo.user.mobile}</td>
        <td>{$vo.count_price}</td>
        <td class="text-l">{$vo.create_time|date='Y-m-d H:i:s',###}</td>
        <td><if condition="$vo.pay_way eq 0">货到付款<else/>在线支付</if></td>
        <td class="user-status">
        	<if condition="$vo.status eq 0">
        		<span class="label label-success" class="order_status">已下单 </span>
        	<elseif condition="$vo.status eq 1"/>
				<span class="order_status">已支付</span>
        	<elseif condition="$vo.status eq 2"/>
				<span class="order_status">已接单</span>
			<elseif condition="$vo.status eq 3"/>
				<span style="color:pink" class="order_status">已拒单</span>
			<elseif condition="$vo.status eq 4"/>
				<span style="color:green" class="order_status">派送中</span>
			<elseif condition="$vo.status eq 5"/>
				<span class="order_status">已签收</span>
			<elseif condition="$vo.status eq 6"/>
			<span class="label label-error" class="order_status">已完成 </span>
			<elseif condition="$vo.status eq 7"/>
			<span class="label label-danger" class="order_status">已取消 </span>
			<elseif condition="$vo.status eq 8"/>
			<span class="order_status">货到付款	</span>
       	</if>

       </td>
        <td class="f-14 user-manage"><!-- <a title="编辑" href="javascript:;" onClick="user_edit('{$vo.id}','700','','编辑','orderDetail.html')"  style="text-decoration:none">编辑</a> -->
			<a href="__MODULE__/Shop/orderDetail/id/{$vo.id}">详情</a>
        &nbsp;

		 <if condition="$vo.status eq 1">
					<span onclick="orderdeal({$vo.id},2)" style="color:green">接单</span>&nbsp;<span style="color:red;" onclick="orderdeal({$vo.id},3)">拒单</span>
        	<elseif condition="$vo.status eq 2"/>
				<span onclick="orderdeal({$vo.id},4)">派送</span>
			<elseif condition="$vo.status eq 5" />
				<span onclick="orderdeal({$vo.id},6)" style="color:blue;">完成订单</span>
			<elseif condition="$vo.status eq 8"/>
				<span onclick="orderdeal({$vo.id},2)" style="color:green">接单</span>&nbsp;<span style="color:red;" onclick="orderdeal({$vo.id},3)">拒单</span>
       </if>

		

        &nbsp;
				<if condition="count($vo['comment']) gt 0">
        		<if condition="count($vo['reply']) gt 0">
					<a href="javascript:"  id="hasReply" onclick="user_edit('{$vo.id}','450','400','查看回复','orderComment.html')"    style="color:green">已回复</a>
        		<else/>
					<a href="javascript:void(0)"  onclick="user_edit('{$vo.id}','600','600','评论','orderComment.html')"  style="color:green">有评论</a>
        		</if>
        </if>
        </td>
      </tr>
</volist>



		

    </tbody>
  </table>
  <div id="pageNav" class="pageNav">
	{$page}
  </div>
	
</div>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/pagenav.cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/plugin/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/layer/layer.min.js"></script>
<script type="text/javascript">

$('.table-sort').dataTable({
	"lengthMenu":false,//显示数量选择 
	"bFilter": false,//过滤功能
	"bPaginate": false,//翻页信息
	"bInfo": false,//数量信息
	"aaSorting": [[ 3, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,8,9]}// 制定列不参与排序
	]
});



/*function hasComment(obj,id){
	alert(id);

}*/

/*$(function(){
	layer.open({
		 type: 2, 
		 title: false,
		 closeBtn: 0,
		 area: ['392px', '390px'], 
		 offset: '100px',
		 //加上边框 
		 content: ['/waimai/index.php/Home/Login/login', 'no'] 
		});
});*/
</script>

</body>
</html>

<!--代码整理：js代码 www.jsdaima.com-->